/*darkest to lightest */
/* #20545f
#235d68
#246672
#2a6e7b */
html {
  /* font-family: avenir next, avenir, sans-serif; */
}

body, html{
  font-family: 'Baloo 2', cursive;
  margin:0;
  padding:0;
}

header {
    z-index: 999;
    height: 75px;
}

:root {
    /* Style A */
    /* --a-color: #7cc0b4;
     --b-color: #2a6e7b;
    --c-color: #246672;
    --d-color: #235d68;
    --e-color: #20545f; */

    /* Style B */
    --a-color: #7cc0b4;
    --b-color: #FFEB3B;
    --c-color: #679EAA;
    --d-color: #457D88;
    --e-color: #235D68;
    --f-color: #324B50;
}

/* #8eb8bc */


.bg-a { 
        background-color: var(--a-color) !important;
}
.bg-b { 
        background-color: var(--b-color) !important;
}
.bg-c { 
        background-color: var(--c-color) !important;
}
.bg-d { 
        background-color: var(--d-color) !important;
}
.bg-e { 
        background-color: var(--e-color) !important;
}
.bg-f { 
        background-color: var(--e-color) !important;
}

.color-a { 
        color: var(--a-color) !important;
}
.color-b { 
        color: var(--b-color) !important;
}
.color-c { 
        color: var(--c-color) !important;
}
.color-d { 
        color: var(--d-color) !important;
}
.color-e { 
        color: var(--e-color) !important;
}
.color-f { 
        color: var(--e-color) !important;
}

.img {
    max-width: initial;
}

.bg-opacity-0 {
    opacity: 0;
}

.bg-opacity-8 {
    opacity: 0.8;
}

.bg-white { background-color: #FFFFFF }

.mainContainer {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1910px;
  min-height: 709px;
}

.scale90 {
    transform: scale(0.99);
}

.navLink {
    margin-top: 8px;
}

.navPadding {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.flex-grow-1 {
    flex-grow: 1;
}

.brandIcon {
    color: white;
}

.innerDiv {
    height: 50px;
}

.f20 {
    font-size: 20px;
}

.lh25 {
    line-height: 25px;
}

.lh50 {
    line-height: 50px;
}

.h40 {
    height: 35px;
}

main {
    margin: 0 auto;
    margin-bottom: -3px;
}

.mt-5px {
    margin-top: 5px;
}

.pt-20 {
    padding-top: 20px;
}

.footer {
    height: 300px;
    color: white;
    margin-top: 8px;
    position: relative;
}

.footerRight {
    position: absolute;
    right: 65px;
    top: 32px;
}

.pipe {
    font-size: 35px;
    margin: 0 6px;
    margin-top: -2px;
}

.innerDiv {
    padding: 0 40px;
}

.innerDiv svg {
    position: relative;
    top: 10px;
    margin: 0px;
    left: 5px;    
}

.mt-4 {
    margin-top: 4px;
}

.hoverDiv {
    opacity: 0;
    transition: opacity 0.5s ease;
    transform: scale(1);
}

.hoverDiv:hover {
    opacity: 0.9;
}

.section-card {
    /* border: 1px solid red; */
}

.section-card-special {
    /* border: 1px solid red; */
    padding: 16px 0 16px 60px;

}

.menuItem {
    width: 100%
}

.jumboTitle {
    font-weight: 200;
    font-size: 84px;
    color: var(--d-color);
}

.remarkableHead {
    font-weight: 600;
    font-size: 84px;
    margin-right: 5px;
    color: var(--b-color);
}

.categoryHeadDesktop {
    font-weight: 200;
    font-size: 45px;
    transform: rotate(-90deg);
    margin-top: 80px;
    display: block;
    position: relative;
    top: 100px;
    right: 35px;
}

.dash-div {
    width: 190px;
    height: 110px;
    text-align: center;
    display: inline-block;
}

.dash-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--a-color);
    margin: 0 auto;
}

.dash-circle2 {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid var(--b-color);
    position: relative;
    margin: 0 auto;
    top: -57px;
}

.dash-icon {
    position: relative;
    top: -102px;
    color: var(--a-color);
}

.dash-text {
    position: relative;
    top: -100px;
    color: var(--d-color);
}

.categoryHeadMobile {
    font-weight: 200;
    font-size: 45px;
    margin-top: 80px;
    display: none;
}

.featuredHead {
    font-weight: 200;
    font-size: 30px;
}

.largeGutter {
    max-width: 805px;
}

.smallGutter {
    max-width: 1200px;
}

.footer-div-left {
    width: 25%;
}

.footer p {
    margin-top: 0;
    margin-bottom: 5px;
}

.col {
    border: 1px solid blue;
}

.menu-divs-left {
    width: 0px;
    outline: 3px solid var(--a-color);
    margin: 4px;
}

.menu-divs-right {
    width: 100%;
}

.categoryHead {
    color: var(--e-color);
}

.menu-special-image img {
    height: 175px;
    min-width: 260px;
    border-radius: 6px;
}

/*********** 
  HOMEPAGE
************/

.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cover {
    background-size: cover !important;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    display: inline;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.square-box {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position: relative;
    min-width: 250px;
}

.outerDivMain:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.captionDiv {
    color: white;
    text-align: center;
    position: relative;
}

.centerDiv {
    /* height: 80px;
    font-weight: 700;
    position: absolute;
    left: -2%;
    top: 60px;
    display: table;
    width: 270px; */

        height: 80px;
    font-weight: 700;
    /* position: absolute; */
    /* left: -2%; */
    /* top: 60px; */
    display: table;
    text-align: center;
    /* width: 270px; */
    margin: 0 auto;
    font-size: 15px;
    margin-top: 10%;
    width: 80%;
}


.centerDiv p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

.captionDescription {
    width: 75%;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.hrCaption1 {
    color: #FFEB3B;
    padding-top: 3px;
    border: none;
    background: #FFEB3B;
    width: 80%;
}

.hrCaption2 {
    color: white;
    margin-top: 1px;
    border: 1px solid white;
    width: 15%;
    margin-bottom: 35px;
}

.hrMenu {
    box-sizing: content-box;
    color: #FFEB3B;
    height: 3px;
    overflow: visible;
    background: #FFEB3B;
    border: none;
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 20%;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-third-m {
        width: calc(100% / 3);
    }
}




.bg-black-10 {
    background-color: rgba(0, 0, 0, .1);
}

.bg-black-05 {
    background-color: rgba(0, 0, 0, .05);
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1250px) {
    .menu-divs-left {
        outline: none;
    }

    .dt-ns {
        display: table;
    }

    .dtc-ns {
        display: flow-root;
    }

    .dt--fixed-ns {
        table-layout: fixed;
        width: 100%;
    }

        .categoryHeadMobile {
        display: block;
    }

    .categoryHeadDesktop {
        display: none;
    }

    article.menuCollapse {
        padding-left: 1rem !important;   
    }

    .section-card-special {
        flex-direction: column;
        padding-left: 0 !important
    }

    .menu-special-context {
        padding-left: 0 !important;
    }

    .mainContainer main {
        display: flex;
        flex-direction: column;
    }

    .square-box {
        margin: auto;
    }
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.w-100 {
    width: 100%;
}

.bg-light-gray {
    background-color: #eee;
}

.bg-near-white {
    background-color: #f4f4f4;
}

@media screen and (min-width: 1250px) {
    .w-50-ns {
        width: 50%;
    }
}
